{% extends "lab_8/layout/base.html" %}
{% block content %}

<button style="background-color: blue;color: white;" id = 'fblogin' onclick="facebookLogin()">Login with Facebook</button>
<div id='lab8'></div>
<select class="my-select"></select>
<button class="apply-button">apply</button>




{% endblock %}