{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <style>
        .circular-image{
            border-radius: 50%;
            margin: 0px auto;
            display:block;
        }
        .font-style-head{
            font-family:Roboto Black;

        }
        .font-style-sub{
            font-family: Roboto;
        }
    </style>
    <h1 class="font-style-head" align="center">Portofolio</h1>
    <img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/13346445_1340438782649427_5385786535246608884_n.jpg?oh=3c63ed45cf59ef488dccc2acd1e9d5ab&oe=5A56AF81" width="200" height="200" class="circular-image" />
    <hr/>
    <section name="bio">
        <h2 class="font-style-head">Bio</h2>
        <p class="font-style-sub">
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2 class="font-style-head">Words About Me</h2>
        <ul>
            {% for ii in about_me %}
            <li font-style-sub> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2 class="font-style-head">Send Message</h2>
        <script>  
            function validateform(){  
                var message=document.form.message.value;
                var email=document.form.email.value; 
                var atposition=email.indexOf("@");  
                var dotposition=email.lastIndexOf(".");  
                if((atposition===-1||dotposition===-1) && email.length>0){   
                    document.getElementById("emailSpan").innerHTML="Please enter a valid e-mail address!";
                    document.getElementById("emailSpan").style.color='red';
                    return false;  
                }else if(message.length<1){  
                    document.getElementById("messageSpan").innerHTML="Please enter the message!";
                    document.getElementById("messageSpan").style.color='red';
                    return false;  
                }else{
                    return true;
                }
            }
        </script> 
        <form name = "form" id="form" novalidate onsubmit="return validateform()" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            <label>Name</label>
            <br>
            {{message_form.name}}
            <br>
            <label>Email</label>
            <br>
            {{ message_form.email}}
            <br>
            <span id="emailSpan"></span>
            <br>
            <label>Message</label>
            <br>
            {{ message_form.message}}
            <br>
            <span id="messageSpan" style="color:'red'"></span>
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
    {% endblock %}
