<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style type="text/css">
    	/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
html {
  min-height: 100%;
  position: relative;
}

body {
	margin-top: 70px;
  	height: 100%;
  	padding-bottom: 50px;
}


footer p{
	text-align: center;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0%;
  text-align: center;
}

    </style>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<header>
		{% include "header.html" %}
	</header><div style = "margin-top:50px;">
    <h1>Hello my name is {{ name }}</h1>
    <article>I am {{ age }} years old</article></div>
    <footer>
    	{% include "footer.html" %}
    </footer>
</body>
</html>
