{% extends "lab_7/layout/base.html" %}

{% block content %}
<h3 style="text-align: center;">Profile {{friend.friend_name}}</h3>
<br>
<table style="width:100%">
  <tr>
    <td><b>Nama</b></td>
    <td>{{friend.friend_name}}</td>
  </tr>
  <tr>
    <td><b>NPM</b></td>
    <td>{{friend.npm}}</td>
  </tr>
  <tr>
    <td><b>Alamat</b></td>
    <td id='alamat'>{{friend.alamat}}</td>
  </tr>
  <tr>
    <td><b>Kode Pos</b></td>
    <td>{{friend.kode_pos}}</td>
  </tr>
  <tr>
    <td><b>Kota Lahir</b></td>
    <td>{{friend.kota_lahir}}</td>
  </tr>
  <tr>
    <td><b>Tanggal Lahir</b></td>
    <td>{{friend.tanggal_lahir}}</td>
  </tr>
</table>
<h3>Peta Alamat</h3>
    <div id="map"></div>
{% endblock %}
{% block javascript %}
<script>
      var address = $("#alamat").text();
      console.log(address);
      var geocoder, map;
    window.initMap = function(){

		var geocoder = new google.maps.Geocoder();
		geocoder.geocode({'address': address}, function(results, status) {
			if (status === google.maps.GeocoderStatus.OK) {
				var propertiPeta = {
					center: results[0].geometry.location,
					zoom: 15,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				var peta = new google.maps.Map(document.getElementById("map"), propertiPeta);
				var marker = new google.maps.Marker({
				  map: peta,
				  position: results[0].geometry.location
				});
			} else {
				var html = '<div class="alert alert-danger text-center">Lokasi tidak ditemukan</div>';
                $("#map").append(html)
			}
		});
	}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0Xto4WmdHEV2AxHKGP4vrxVcn63NUyCc&callback=initMap" async defer></script>
   {% endblock %}
