body{
   margin-top: 70px;
}
/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}

section {
  min-height: calc(100vh - 70px);
}
footer {
  height: 50px;
  background-color: #F8F8F8;
}

footer p{
	text-align: center;
}

button{
	background-color: #F8F8F8;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }

.list-group-item{
  overflow: hidden;
}
 .delete{
  float: right;
 }